<!DOCTYPE html>
<html lang="pl">
{% include 'parts-head.html' %}

<body>

    <div id="smoothpage" class="wrapper">

{% with contact_active="active" %}
{% include 'parts-top.html' %}
{% endwith %}

        <!-- =========== GOOGLE MAP ========== -->
        <div id="map">
            <div id="google-map">
<!--                <button class="button  openmap-btn" id="openStreetView">Toggle Street View</button> -->
            </div>
            <div id="map-canvas"></div>
        </div>

        <!-- ========== MAIN ========== -->
        <main id="contact_page">
            <div class="container">
                <div class="row">

                    <div class="col-md-8">
                        <div class="main_title a_left">
                            <a id="reservation"></a>
                            <h2>Skontaktuj się z nami</h2>
                        </div>
                        <form id="contact-form-page" action="https://contact-form.godfryd.workers.dev/contact" method="POST">
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-6">
                                    <label class="control-label">Imię i nazwisko</label>
                                    <input type="text" class="form-control" name="name" placeholder="Imię i nazwisko">
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label class="control-label">Telefon</label>
                                    <input type="text" class="form-control" name="phone" placeholder="Telefon">
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label class="control-label">Email</label>
                                    <input type="email" class="form-control" name="email" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label class="control-label">Temat</label>
                                    <input type="text" class="form-control" name="subject" placeholder="Temat">
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label">Wiadomość</label>
                                    <textarea class="form-control" name="message" placeholder="Twoja wiadomość..."></textarea>
                                </div>
                                <div class="form-group col-md-12">
                                    <button type="submit" class="button  btn_blue mt40 upper pull-right">
                                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Wyślij
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-4">
                        <div class="main_title a_left">
                            <h2>Nasz namiar</h2>
                        </div>
                        <ul class="contact-info upper">
                            <li>
                                <span>ADRES:</span>
                                ul. Grunwaldzka 52<br/>
                                81-771 Sopot, Polska
                            </li>
                            <li>
                                <span>EMAIL:</span>
                                <a href="mailto:kontakt@pokojeprzyplazy.pl">kontakt@pokojeprzyplazy.pl</a>
                            </li>
                            <li>
                                <span>WEB:</span>
                                <a href="http://pokojeprzyplazy.pl">http://pokojeprzyplazy.pl</a>
                            </li>
                            <li>
                                <span>PHONE:</span>
                                <a href="tel:+48608042298">+48 608 042 298</a>
                            </li>
                            <li>
                                <span>QR CODE:</span>
                                <img src="images/qrcode-vcard.png" style="width: 200px;" alt="QR Code">
                            </li>
                        </ul>
                        <!-- <div class="social_media"> -->
                        <!--     <a class="facebook" href="#"><i class="fa fa-facebook"></i></a> -->
                        <!--     <a class="twitter" href="#"><i class="fa fa-twitter"></i></a> -->
                        <!--     <a class="googleplus" href="#"><i class="fa fa-google-plus"></i></a> -->
                        <!--     <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a> -->
                        <!--     <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a> -->
                        <!--     <a class="youtube" href="#"><i class="fa fa-youtube"></i></a> -->
                        <!--     <a class="instagram" href="#"><i class="fa fa-instagram"></i></a> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </main>

        <!-- ========== FOOTER ========== -->
        <footer>
{% include 'parts-footer.html' %}
        </footer>

    </div>

    <!-- ========== BACK TO TOP ========== -->
    <div id="back_to_top">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>

    <!-- ========== NOTIFICATION ========== -->
    <div id="notification"></div>

    <!-- ========== JAVASCRIPT ========== -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkWBoZZaEDzyUeL6WF8DwJjbS9huCl_l8"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="js/jquery.smoothState.js"></script>
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/morphext.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.thumbs.min.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/jPushMenu.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="js/countUp.min.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</body>
</html>
