<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

    <!-- ========== SEO ========== -->
    <title>Pokoje przy Plaży Sopot</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">

    <!-- ========== FAVICON ========== -->
    <link rel="apple-touch-icon-precomposed" href="images/favicon-apple.png" />
    <link rel="icon" href="images/favicon.png">

    <!-- ========== STYLESHEETS ========== -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="revolution/css/layers.css" rel="stylesheet" type="text/css" />
    <link href="revolution/css/settings.css" rel="stylesheet" type="text/css" />
    <link href="revolution/css/navigation.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
    <link href="css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="css/famfamfam-flags.css" rel="stylesheet" type="text/css">
    <link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">

    <!-- ========== ICON FONTS ========== -->
    <link href="fonts/font-awesome.min.css" rel="stylesheet">
    <link href="fonts/flaticon.css" rel="stylesheet">

    <!-- ========== GOOGLE FONTS ========== -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900%7cRaleway:400,500,600,700" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- ========== PRELOADER ========== -->
    <div id="loading">
        <div class="inner">
            <div class="loading_effect">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
            </div>
        </div>
    </div>

    <div class="wrapper">

{% with home_active="active" %}
{% include 'parts-top.html' %}
{% endwith %}

        <!-- ========== REVOLUTION SLIDER ========== -->
            <div id="classic_slider" class="rev_slider" style="display:none" data-version="5.4.1">
                <ul>
                    <!-- SLIDE NR. 1 -->
                    <li data-transition="crossfade">
                        <!-- MAIN IMAGE -->
                        <img src="images/slider/iStock-168797627-e.jpg"
                             alt="Image"
                             title="slider_bg2"
                             data-bgposition="center center"
                             data-bgfit="cover"
                             data-bgrepeat="no-repeat"
                             data-bgparallax="10"
                             class="rev-slidebg"
                             data-no-retina="">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="center"
                             data-hoffset=""
                             data-y="320"
                             data-voffset=""
                             data-responsive_offset="on"
                             data-fontsize="['60','50','40','30']"
                             data-lineheight="['60','50','40','30']"
                             data-whitespace="nowrap"
                             data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             style="z-index: 5; color: #fff; font-weight: 900; text-shadow: #40391E 0 0 10px;"> Pokoje przy Plaży Sopot </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="center"
                             data-hoffset=""
                             data-y="410"
                             data-voffset=""
                             data-responsive_offset="on"
                             data-fontsize="16"
                             data-lineheight="16"
                             data-whitespace="nowrap"
                             data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             style="z-index: 6; color: #fff;">Molo w Sopocie</div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                             data-x="center"
                             data-hoffset="-170"
                             data-y="414"
                             data-voffset=""
                             data-responsive_offset="on"
                             data-width="['100']"
                             data-height="['4']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:1500;e:Power3.easeOut;"
                             data-transform_out="opacity:0;s:500;"
                             data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                             data-start="2000"
                             style="z-index: 7;background: url(images/icons/wave_white.svg);">
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme"
                             data-x="center"
                             data-hoffset="-170"
                             data-y="418"
                             data-voffset=""
                             data-responsive_offset="on"
                             data-width="['100']"
                             data-height="['4']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:1500;e:Power3.easeOut;"
                             data-transform_out="opacity:0;s:500;"
                             data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                             data-start="2100"
                             style="z-index: 7;background: url(images/icons/wave_white.svg);"> </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme"
                             data-x="center"
                             data-hoffset="170"
                             data-y="414"
                             data-voffset=""
                             data-responsive_offset="on"
                             data-width="['100']"
                             data-height="['4']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:1500;e:Power3.easeOut;"
                             data-transform_out="opacity:0;s:500;"
                             data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                             data-start="2000"
                             style="z-index: 7;background: url(images/icons/wave_white.svg);">
                        </div>
                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme"
                             data-x="center"
                             data-hoffset="170"
                             data-y="418"
                             data-voffset=""
                             data-responsive_offset="on"
                             data-width="['100']"
                             data-height="['4']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:1500;e:Power3.easeOut;"
                             data-transform_out="opacity:0;s:500;"
                             data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                             data-start="2100"
                             style="z-index: 7;background: url(images/icons/wave_white.svg);">
                        </div>
                       <!-- LAYER NR. 7 -->
                       <a class="tp-caption button btn_blue"
                          href="contact.html"
                          data-x="center"
                          data-hoffset="-100"
                          data-y="480"
                          data-voffset=""
                          data-responsive_offset="on"
                          data-fontsize="14"
                          data-whitespace="nowrap"
                          data-frames='[{"delay":2400,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                          style="z-index: 11;"><i class="fa fa-calendar"></i>ZAREZERWUJ
                        </a>
                       <!-- LAYER NR. 8 -->
                       <a class="tp-caption button btn_yellow "
                          href="contact.html"
                          data-x="center"
                          data-hoffset="108"
                          data-y="480"
                          data-voffset=""
                          data-responsive_offset="on"
                          data-fontsize="14"
                          data-whitespace="nowrap"
                          data-frames='[{"delay":2400,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                          style="z-index: 11;"><i class="fa fa-envelope-o" aria-hidden="true"></i>SKONTAKTUJ SIĘ
                        </a>
                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption tp_m_title tp-resizeme"
                             data-x="center"
                             data-hoffset=""
                             data-y="200"
                             data-voffset=""
                             data-responsive_offset="on"
                             data-fontsize="['18','18','16','16']"
                             data-lineheight="['18','18','16','16']"
                             data-whitespace="nowrap"
                             data-frames='[{"delay":1800,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption tp_m_title tp-resizeme"
                             data-x="center"
                             data-hoffset=""
                             data-y="240"
                             data-voffset=""
                             data-responsive_offset="on"
                             data-fontsize="['25','25','18','18']"
                             data-lineheight="['25','25','18','18']"
                             data-whitespace="nowrap"
                             data-frames='[{"delay":1800,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            Star Luxury Hotel
                        </div>
                    </li>

                    <!-- SLIDE NR. 2 -->
                    <li data-transition="crossfade">
                        <!-- MAIN IMAGE -->
                        <img src="images/slider/iStock-1281467900-e.jpg"
                             alt="Image"
                             title="slider_bg2"
                             data-bgposition="center center"
                             data-bgfit="cover"
                             data-bgrepeat="no-repeat"
                             data-bgparallax="10"
                             class="rev-slidebg"
                             data-no-retina="">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="center"
                             data-hoffset=""
                             data-y="320"
                             data-voffset=""
                             data-responsive_offset="on"
                             data-fontsize="['60','50','40','25']"
                             data-lineheight="['60','50','40','25']"
                             data-whitespace="nowrap"
                             data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             style="z-index: 5; color: #fff; font-weight: 900; text-shadow: #40391E 0 0 10px;">Ciesz się wakacjami w Sopocie
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="center"
                             data-hoffset=""
                             data-y="410"
                             data-voffset=""
                             data-responsive_offset="on"
                             data-fontsize="16"
                             data-lineheight="16"
                             data-whitespace="nowrap"
                             data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             style="z-index: 6; color: #fff;">Plac Zdrojowy
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme"
                             data-x="center"
                             data-hoffset="-134"
                             data-y="414"
                             data-voffset=""
                             data-width="['100']"
                             data-height="['4']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:1500;e:Power3.easeOut;"
                             data-transform_out="opacity:0;s:300;"
                             data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                             data-start="2000"
                             data-responsive_offset="on"
                             style="z-index: 7;background: url(images/icons/wave_white.svg);">
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme"
                             data-x="center"
                             data-hoffset="-134"
                             data-y="418"
                             data-voffset=""
                             data-width="['100']"
                             data-height="['4']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:1500;e:Power3.easeOut;"
                             data-transform_out="opacity:0;s:300;"
                             data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                             data-start="2100"
                             data-responsive_offset="on"
                             style="z-index: 8;background: url(images/icons/wave_white.svg);">
                        </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme"
                             data-x="center"
                             data-hoffset="134"
                             data-y="414"
                             data-voffset=""
                             data-responsive_offset="on"
                             data-width="['100']"
                             data-height="['4']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:1500;e:Power3.easeOut;"
                             data-transform_out="opacity:0;s:300;"
                             data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                             data-start="2000"
                             style="z-index: 9;background: url(images/icons/wave_white.svg);">
                        </div>
                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme"
                             data-x="center"
                             data-hoffset="134"
                             data-y="418"
                             data-voffset=""
                             data-width="['100']"
                             data-height="['4']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:1500;e:Power3.easeOut;"
                             data-transform_out="opacity:0;s:300;"
                             data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                             data-start="2100"
                             data-responsive_offset="on"
                             style="z-index: 10;background: url(images/icons/wave_white.svg);">
                        </div>
                       <!-- LAYER NR. 7 -->
                       <a class="tp-caption button btn_yellow"
                          href="contact.html"
                          data-x="center"
                          data-hoffset="-100"
                          data-y="480"
                          data-voffset=""
                          data-responsive_offset="on"
                          data-fontsize="14"
                          data-whitespace="nowrap"
                          data-frames='[{"delay":2400,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                          style="z-index: 11;"><i class="fa fa-calendar"></i>ZAREZERWUJ
                        </a>
                        <!-- LAYER NR. 8 -->
                        <a class="tp-caption button btn_yellow "
                           href="contact.html"
                           data-x="center"
                           data-hoffset="108"
                           data-y="480"
                           data-voffset=""
                           data-responsive_offset="on"
                           data-fontsize="14"
                           data-frames='[{"delay":2400,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                           style="z-index: 11;"><i class="fa fa-envelope-o" aria-hidden="true"></i>SKONTAKTUJ SIĘ
                        </a>
                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="center"
                             data-hoffset=""
                             data-y="200"
                             data-voffset=""
                             data-responsive_offset="on"
                             data-frames='[{"delay":1800,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             style="z-index: 12;"><img src="images/logo_light.svg" width="200" alt="Image">
                        </div>
                    </li>

                    <!-- SLIDE NR. 3 -->
                    <li data-transition="crossfade">
                        <!-- MAIN IMAGE -->
                        <img src="images/slider/iStock-1347498336-e.jpg"
                             alt="Image"
                             title="slider_bg3"
                             data-bgposition="center center"
                             data-bgfit="cover"
                             data-bgrepeat="no-repeat"
                             data-bgparallax="10"
                             class="rev-slidebg"
                             data-no-retina="">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="center"
                             data-hoffset=""
                             data-y="305"
                             data-voffset=""
                             data-responsive_offset="on"
                             data-fontsize="['80','70','60','40']"
                             data-lineheight="['80','70','60','40']"
                             data-whitespace="nowrap"
                             data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             style="z-index: 5; color: #fff; font-weight: 900;">Posłuchaj szumu fal
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="center"
                             data-hoffset=""
                             data-y="410"
                             data-voffset=""
                             data-responsive_offset="on"
                             data-fontsize="16"
                             data-lineheight="16"
                             data-whitespace="nowrap"
                             data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             style="z-index: 6; color: #fff;">Ceny pokoi już od {{ low_price }} zł za dobę
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme"
                             data-x="center"
                             data-hoffset="-180"
                             data-y="414"
                             data-voffset=""
                             data-width="['100']"
                             data-height="['4']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:1000;e:Power3.easeOut;"
                             data-transform_out="opacity:0;s:300;"
                             data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                             data-start="2300"
                             data-responsive_offset="on"
                             style="z-index: 7;background: url(images/icons/wave_white.svg);">
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme"
                             data-x="center"
                             data-hoffset="-180"
                             data-y="418"
                             data-voffset=""
                             data-width="['100']"
                             data-height="['4']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:1000;e:Power3.easeOut;"
                             data-transform_out="opacity:0;s:300;"
                             data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                             data-start="2400"
                             data-responsive_offset="on"
                             style="z-index: 8;background: url(images/icons/wave_white.svg);">
                        </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme"
                             data-x="center"
                             data-hoffset="180"
                             data-y="414"
                             data-voffset=""
                             data-width="['100']"
                             data-height="['4']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:1000;e:Power3.easeOut;"
                             data-transform_out="opacity:0;s:300;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                             data-start="2300"
                             data-responsive_offset="on"
                             style="z-index: 9;background: url(images/icons/wave_white.svg);">
                        </div>
                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme"
                             data-x="center"
                             data-hoffset="180"
                             data-y="418"
                             data-voffset=""
                             data-width="['100']"
                             data-height="['4']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:1000;e:Power3.easeOut;"
                             data-transform_out="opacity:0;s:300;"
                             data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                             data-start="2400"
                             data-responsive_offset="on"
                             style="z-index: 10;background: url(images/icons/wave_white.svg);">
                        </div>
                    </li>

                </ul>
            </div>

            <!-- ========== ROOMS ========== -->
            <section class="white_bg" id="rooms">
                <div class="container">
                    <div class="main_title mt_wave mt_yellow a_center">
                        <h2>Nasze Pokoje</h2>
                    </div>
                    <p class="main_description a_center">
                        Zapraszamy do naszych pokoi, które znajduja w rewelacyjnej lokalizacji.
                        Do plaży dojdziemy w zaledwie trzy minuty, a do "Monciaka" w siedem minut.
                        Bliskość głównych atrakcji naszego miasta, to jeden z atutów, który cenią sobie nasi goście.
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <article class="room">
                                <figure>
                                    <div class="price">~{{ low_price }} zł <span>/ noc</span></div>
                                    <a class="hover_effect h_blue h_link" href="room-1.html">
                                        <img src="images/rooms/31_Sopot_Apart-3_s.jpg" class="img-responsive" alt="Image">
                                    </a>
                                    <figcaption>
                                        <h4><a href="room.html">Pokój 1 Dwuosobowy</a></h4>
                                        <span class="f_right"><a href="rooms-1.html" class="button btn_sm btn_blue">Zobacz</a></span>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <article class="room">
                                <figure>
                                    <div class="price">~{{ low_price }} zł <span>/ noc</span></div>
                                    <a class="hover_effect h_blue h_link" href="room-2.html">
                                        <img src="images/rooms/16_Sopot_Apart-2_s.jpg" class="img-responsive" alt="Image">
                                    </a>
                                    <figcaption>
                                        <h4><a href="room.html">Pokój 2 Trzyosobowy</a></h4>
                                        <span class="f_right"><a href="room-2.html" class="button btn_sm btn_blue">Zobacz</a></span>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <article class="room">
                                <figure>
                                    <div class="price">~{{ low_price }} zł <span>/ noc</span></div>
                                    <a class="hover_effect h_blue h_link" href="room-3.html">
                                        <img src="images/rooms/01_Sopot_Apart-1_s.jpg" class="img-responsive" alt="Image">
                                    </a>
                                    <figcaption>
                                        <h4><a href="room.html">Pokój 3 Trzyosobowy</a></h4>
                                        <span class="f_right"><a href="room-3.html" class="button btn_sm btn_blue">Zobacz</a></span>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                    </div>
                    <div class="mt40 a_center">
                        <a class="button btn_sm btn_yellow" href="rooms-list.html">LISTA WSZYSTKICH POKOJÓW</a>
                    </div>
                </div>
            </section>

            <!-- ========== FEATURES ========== -->
            <section class="lightgrey_bg" id="features">
                <div class="container">
                    <div class="main_title mt_wave a_center">
                        <h2>Nasz obiekt</h2>
                    </div>
                    <p class="main_description a_center">Obiekt Pokoje przy Plaży Sopot położony jest w miejscowości Sopot i oferuje różne opcje zakwaterowania, w których zapewniono bezpłatne WiFi oraz telewizor z płaskim ekranem. Odległość ważnych miejsc od obiektu: Plaża Sopot – 300 m, Plaża Jelitkowo – 1,8 km. W pobliżu obiektu Pokoje przy Plaży Sopot znajdują się liczne atrakcje, takie jak Krzywy Domek, Sopockie Molo i Stacja kolejowa Sopot. Najbliższe lotnisko, Lotnisko Gdańsk-Rębiechowo, znajduje się 19 km od obiektu Pokoje przy Plaży Sopot.</p>

                    <div class="row">
                        <div class="col-md-7">
                            <div data-slider-id="features" id="features_slider" class="owl-carousel">
                                <div><img src="images/43_Sopot_s-aneks-kuchenny.jpg" class="img-responsive" alt="Image"></div>
                                <div><img src="images/plaza-200m.png" class="img-responsive" alt="Image"></div>
                                <div><img src="images/47_Sopot_s-kacik.jpg" class="img-responsive" alt="Image"></div>
                                <div><img src="images/qrcode-wifi.png" class="img-responsive" alt="Image"></div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="owl-thumbs" data-slider-id="features">
                                <div class="owl-thumb-item">
                                    <span class="media-left"><i class="flaticon-food"></i></span>
                                    <div class="media-body">
                                        <h5>Wspólny aneks kuchenny</h5>
                                        <p>
                                            Tu, oprócz naczyń kuchennych, sztuciec, kubków i talerzy,
                                            dostępna jest też herbata i kawa.
                                            Można też skorzystać z płyty elektrycznej lub kuchenki mikrofalowej.
                                        </p>
                                    </div>
                                </div>
                                <div class="owl-thumb-item">
                                    <span class="media-left"><i class="flaticon-beach"></i></span>
                                    <div class="media-body">
                                        <h5>200m do plaży</h5>
                                        <p>
                                            Do plaży można dojść w zaledwie trzy minuty. Dla gości oferyjemy parawany.
                                            Wzdłuż sopockiej plaży można udać się na spacer alejkami parkowymi.
                                        </p>
                                    </div>
                                </div>
                                <div class="owl-thumb-item">
                                    <span class="media-left"><i class="flaticon-business"></i></span>
                                    <div class="media-body">
                                        <h5>Na zabicie nudy</h5>
                                        <p>TV z Netflix, książki, gry planszowe i puzzle.</p>
                                    </div>
                                </div>
                                <div class="owl-thumb-item">
                                    <span class="media-left"><i class="fa fa-wifi"></i></span>
                                    <div class="media-body">
                                        <h5>Darmowe WiFi</h5>
                                        <p>W każdym pokoju jest dostęp do bezprzewodowego internetu.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- ========== TESTIMONIALS ========== -->
            <section id="testimonials_style_2" class="grey_bg">
                <div class="container">
                    <div class="main_title mt_wave a_center">
                        <h2>Co ludzie mówią o nas?</h2>
                    </div>
                    <p class="main_description a_center">
                    </p>
                    <div class="row">
                        <!-- ITEM -->
                        <div class="col-md-4">
                            <div class="review_item">
                                <div class="review_content">
                                    <h3>Polecam z calego serca.</h3>
                                    <div class="review_rating">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <p>Swietna lokalizacja. Pokój bardzo czysty i przyjemny. Było wszystko co potrzebne. Szafa, telewizor, lodówka. Kuchnia do użytku również świetnie zaopatrzona. Przemili właściciele. Pan na wejściu doradził gdzie iść co zobaczyć i gdzie iść na dobre jedzonko jeśli sie nie chce przeplacac :) Pierwszy raz w Sopocie, ale napewno wrócimy i napewno tutaj. Polecamy z calym sercem kazdemu.</p>
                                </div>
                                <div class="review_author">
                                    <img src="images/users/patrycja.jpg" alt="Image">
                                    <div class="author_info">
                                        <h5>Patrycja</h5>
                                        <span class="place">Wielka Brytania</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ITEM -->
                        <div class="col-md-4">
                            <div class="review_item">
                                <div class="review_content">
                                    <h3>Żal wyjeżdżać</h3>
                                    <div class="review_rating">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <p>Pobyt w Pokojach przy Plaży był niezwykle komfortowy, mimo że w samym centrum, to jednak ciche i spokojne miejsce, bardzo czyste pomieszczenia, przemili właściciele, bardzo pomocni i zawsze dostępni, w ośrodku znajduje się kuchnia dostępna dla wszystkich z pełnym wyposażeniem, również żelazko, suszarka i parasole przeciwsłoneczne, w pokoju duża łazienka z komfortowym obszernym prysznicem, również lodówka.</p>
                                </div>
                                <div class="review_author">
                                    <img src="images/users/elzbieta.jpg" alt="Image">
                                    <div class="author_info">
                                        <h5>Elżbieta</h5>
                                        <span class="place">Polska</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ITEM -->
                        <div class="col-md-4">
                            <div class="review_item">
                                <div class="review_content">
                                    <h3>Godny polecenia</h3>
                                    <div class="review_rating">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <p>Pokoje czyste, wyposażone w lodówkę, czajnik, suszarkę na ubrania. W łazience suszarka do włosów, reczniki. Lokalizacja niecałe 5 minut spacerkiem z dzieckiem od plaży, około 12 minut od stacji dworca PKP. Bardzo mili gospodarze, aneks kuchenny wyposażony we wszystko co potrzebne. Jesteśmy bardzo zadowoleni. Chetnie kiedyś wrócimy.</p>
                                </div>
                                <div class="review_author">
                                    <img src="images/users/bartlomiej.jpg" alt="Image">
                                    <div class="author_info">
                                        <h5>Bartłomiej</h5>
                                        <span class="place">Polska</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ========== CONTACT ========== -->
            <section class="white_bg" id="contact">
                <div class="container">
                    <div class="main_title mt_wave a_center">
                        <h2>Lokalizacja - Skontaktuj się z nami</h2>
                    </div>
                    <p class="main_description a_center">
                        Zachęcamy do bezpośredniego kontaktu telefonicznego lub mailowego.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="map-canvas"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="contact-items">
                                    <div class="col-md-3 col-sm-3">
                                        <div class="contact-item">
                                            <i class="glyphicon glyphicon-map-marker"></i>
                                            <h6>Sopot, Polska</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="contact-item">
                                            <i class="glyphicon glyphicon-phone-alt"></i>
                                            <h6>+48 608 042 298</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <div class="contact-item">
                                            <i class="fa fa-envelope"></i>
                                            <h6>kontakt@pokojeprzyplazy.pl</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form id="contact-form" name="contact-form">
                                <div id="contact-result"></div>
                                <div class="form-group">
                                    <input class="form-control" name="name" placeholder="Imię i Nazwisko" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="email" placeholder="Adres email" type="email">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" placeholder="Wiadomość"></textarea>
                                </div>
                                <button class="button btn_lg btn_blue btn_full upper" type="submit"><i class="fa fa-location-arrow"></i>Wyślij</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>


            <!-- ========== FOOTER ========== -->
            <footer class="dark">
{% include 'parts-footer.html' %}
            </footer>

    </div>

    <!-- ========== BACK TO TOP ========== -->
    <div id="back_to_top">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>

    <!-- ========== NOTIFICATION ========== -->
    <div id="notification"></div>

    <!-- ========== JAVASCRIPT ========== -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkWBoZZaEDzyUeL6WF8DwJjbS9huCl_l8"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="js/jquery.smoothState.js"></script>
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/morphext.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.thumbs.min.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/jPushMenu.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="js/countUp.min.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <!-- ========== REVOLUTION SLIDER ========== -->
    <script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>

</body>
</html>
