<!DOCTYPE html>
<html lang="pl">
{% include 'parts-head.html' %}

<body>

    <div id="smoothpage" class="wrapper">

{% with rooms_active="active" %}
{% include 'parts-top.html' %}
{% endwith %}

        <!-- =========== PAGE TITLE ========== istockphoto-1096866554-1024x1024.jpg istockphoto-1394032424-1024x1024.jpg -->
        <div class="page_title gradient_overlay" style="background: url(images/iStock-1096866554-e.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h1>Pokój 2 Dwuosobowy</h1>
                            <ol class="breadcrumb">
                                <li><a href="index.html">Strona główna</a></li>
                                <li><a href="rooms-list.html">Pokoje</a></li>
                                <li>Pokój 2 Dwuosobowy</li>
                            </ol>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="price">
                                <div class="inner">
                                    ~{{ low_price }} zł <span>za noc</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- =========== MAIN ========== -->
        <main id="room_page">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="slider">
                            <div id="slider-larg" class="owl-carousel image-gallery">
                                <!-- ITEM 750x400 -->
                                <div class="item lightbox-image-icon">
                                    <a href="images/rooms/{{ imgs.r2[0] }}" class="hover_effect h_lightbox h_blue">
                                        <img class="img-responsive" src="images/rooms/{{ imgs.r2[0] }}" alt="Image">
                                    </a>
                                </div>
                                <!-- ITEM -->
                                <div class="item lightbox-image-icon">
                                    <a href="images/rooms/{{ imgs.r2[1] }}" class="hover_effect h_lightbox h_blue">
                                        <img class="img-responsive" src="images/rooms/{{ imgs.r2[1] }}" alt="Image">
                                    </a>
                                </div>
                                <!-- ITEM -->
                                <div class="item lightbox-image-icon">
                                    <a href="images/rooms/{{ imgs.r2[2] }}" class="hover_effect h_lightbox h_blue">
                                        <img class="img-responsive" src="images/rooms/{{ imgs.r2[2] }}" alt="Image">
                                    </a>
                                </div>
                                <!-- ITEM -->
                                <div class="item lightbox-image-icon">
                                    <a href="images/rooms/{{ imgs.r2[3] }}" class="hover_effect h_lightbox h_blue">
                                        <img class="img-responsive" src="images/rooms/{{ imgs.r2[3] }}" alt="Image">
                                    </a>
                                </div>
                                <!-- ITEM -->
                                <div class="item lightbox-image-icon">
                                    <a href="images/rooms/{{ imgs.r2[4] }}" class="hover_effect h_lightbox h_blue">
                                        <img class="img-responsive" src="images/rooms/{{ imgs.r2[4] }}" alt="Image">
                                    </a>
                                </div>
                                <!-- ITEM -->
                                <div class="item lightbox-image-icon">
                                    <a href="images/rooms/{{ imgs.r2[5] }}" class="hover_effect h_lightbox h_blue">
                                        <img class="img-responsive" src="images/rooms/{{ imgs.r2[5] }}" alt="Image">
                                    </a>
                                </div>
                            </div>
                            <div id="thumbs" class="owl-carousel">
                                <!-- ITEM 116x66 -->
                                <div class="item"><img class="img-responsive" src="images/rooms/{{ imgs.r2[0] }}" alt="Image"></div>
                                <!-- ITEM -->
                                <div class="item"><img class="img-responsive" src="images/rooms/{{ imgs.r2[1] }}" alt="Image"></div>
                                <!-- ITEM -->
                                <div class="item"><img class="img-responsive" src="images/rooms/{{ imgs.r2[2] }}" alt="Image"></div>
                                <!-- ITEM -->
                                <div class="item"><img class="img-responsive" src="images/rooms/{{ imgs.r2[3] }}" alt="Image"></div>
                                <!-- ITEM -->
                                <div class="item"><img class="img-responsive" src="images/rooms/{{ imgs.r2[4] }}" alt="Image"></div>
                                <!-- ITEM -->
                                <div class="item"><img class="img-responsive" src="images/rooms/{{ imgs.r2[5] }}" alt="Image"></div>
                            </div>
                        </div>
                        <p class="mt50">
                            Potrzebujesz złpać oddech od codzienności i spędzić kilka dni z przyjaciółką,
                            mamą lub siostrą - ten pokój to dobry wybór z dwoma, osobnymi łóżkami.
                        </p>
                        <p>
                            Pokój idealny na komfortowy pobyt nad morzem dla dwóch osób.
                            W pokoju (o powierzchni ok. 12m2) znajdują się dwa łóżka o wymiarach 90x200 cm,
                            łazienka z prysznicem i suszarką, lodówka, TV, czajnik, ręczniki.
                        </p>


                        <div class="mt40 a_center">
                            <a class="button btn_sm btn_yellow" href="contact.html#reservation">REZERWUJ</a>
                        </div>

                        <div class="similar_rooms">
                            <div class="main_title t_style5 l_blue s_title a_left">
                                <div class="c_inner">
                                    <h2 class="c_title">Podobne pokoje</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <article>
                                        <figure>
                                            <a href="room-3.html" class="hover_effect h_blue h_link"><img src="images/rooms/{{ imgs.r3[0] }}" alt="Image" class="img-responsive"></a>
                                            <div class="price">~{{ low_price }} zł<span> noc</span></div>
                                            <figcaption>
                                                <h4><a href="room-3.html">Pokój 3 Dwuosobowy</a></h4>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                                <div class="col-md-4">
                                    <article>
                                        <figure>
                                            <a href="room-6.html" class="hover_effect h_blue h_link"><img src="images/rooms/{{ imgs.r6[0] }}" alt="Image" class="img-responsive"></a>
                                            <div class="price">~{{ high_price }} zł<span> noc</span></div>
                                            <figcaption>
                                                <h4><a href="room-6.html">Pokój 6 Czteroosobowy</a></h4>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                                <div class="col-md-4">
                                    <!-- <article> -->
                                    <!--     <figure> -->
                                    <!--         <a href="room.html" class="hover_effect h_blue h_link"><img src="images/rooms/deluxe-room.jpg" alt="Image" class="img-responsive"></a> -->
                                    <!--         <div class="price">€189<span> night</span></div> -->
                                    <!--         <figcaption> -->
                                    <!--             <h4><a href="room.html">Deluxe Room </a></h4> -->
                                    <!--         </figcaption> -->
                                    <!--     </figure> -->
                                    <!-- </article> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sidebar">
                            <aside class="widget">
                                <div class="vbf">
                                    <h2 class="form_title"><i class="fa fa-building-o"></i> Udogodnienia</h2>
                                    <div class="room_facilitys_list room_list" style="margin-bottom: 0px;">
                                        <div class="all_facility_list room_details">
                                            <div class="col-sm-12">
                                                <div class="room_services room_services_side">
                                                    <div><i class="fa fa-users"></i>2 osoby</div>
                                                    <div><i class="fa fa-arrows"></i>12 m2</div>
                                                    <div><i class="fa fa-bed"></i>Dwa łóżka jednoosobowe</div>
                                                    <div><i class="fa fa-wifi"></i>Free Wi-Fi</div>
                                                    <div><i class="fa fa-tv"></i>TV z Netflix i YouTube</div>
                                                    <div><i class="fa fa-cutlery"></i>Lodówka i czajnik</div>
                                                    <div><i class="fa fa-shower"></i>Prywatna łazienka z prysznicem</div>
                                                    <div><i class="fa pkj-wardrobe"></i>Szafa</div>
                                                    <div><i class="fa pkj-hair-dryer"></i>Suszarka do włosów</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                            <aside class="widget">
                                <h4>Potrzebna pomoc?</h4>
                                <div class="help">
                                    Jeśli masz jakieś pytania, nie wahaj się skontakować z nami i pytać
                                    <div class="phone"><i class="fa  fa-phone"></i><a href="tel:+48608042298"> +48 608 042 298 </a></div>
                                    <div class="email"><i class="fa  fa-envelope-o "></i><a href="mailto:kontakt@pokojeprzyplazy.pl">kontakt@pokojeprzyplazy.pl</a> albo użyj <a href="contact.html"> formularza kontaktowego</a></div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- ========== FOOTER ========== -->
        <footer>
{% include 'parts-footer.html' %}
        </footer>
    </div>

    <!-- ========== BACK TO TOP ========== -->
    <div id="back_to_top">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>

    <!-- ========== NOTIFICATION ========== -->
    <div id="notification"></div>

    <!-- ========== JAVASCRIPT ========== -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkWBoZZaEDzyUeL6WF8DwJjbS9huCl_l8"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="js/jquery.smoothState.js"></script>
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/morphext.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.thumbs.min.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/jPushMenu.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="js/countUp.min.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</body>
</html>
